 <!-- NAVBAR -->
    <div id="navBar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <h5>MEDICLAB</h5>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" disabled>
                            <a class="nav-link active" aria-current="page" href="/links/verificarRegistro">Registrar vacunación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/links/desicionContagioTratamiento">Registrar contagio y tratamiento</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    {{!-- CONTENIDO----------------------------------}}

    <div id="arriba"></div>
    <div class="container-fluid" id="backgroundRegistro">
        <div class="container" style="background-color: rgb(135, 194, 234);" id="fondoContainerContagio">
            <div class="tituloContagio">
                <div id="imagenContagio">
                    <img src="/img/contagio.png" width="150px">
                </div>
                <div class="textoContagio">
                    <h2>Registrar Contagio</h2>
                </div>
            </div>
            {{!-- CONTAGIO----------------------------------}}
            <form class="row" action="registrarSoloContagio" method="POST" novalidate >
            {{#each Query}}
                <div class="col-md-6">
                    <label for="inputNombre">Nombre</label>
                    <input type="text" name="nombre" class="form-control" id="inputNombre" placeholder="Ej: Alberto" value="{{nombreper}}" readonly required>
                </div>
                <div class="col-md-6">
                    <label for="inputApellido">Apellido</label>
                    <input type="text" name="apellido" class="form-control" id="inputApellido" placeholder="Ej: Lopez" value="{{apellidoper}}" readonly required>
                </div>
                <div class="col-md-4 pt-2">
                    <label for="inputPais">Pais</label>
                    <select name="pais" id="inputPais" class="form-select" disabled required>
                        <option value="{{codpais}}" readonly>{{nombrepais}}</option>
                    </select>
                </div>
                <div class="col-md-4 pt-2" id="divEstado">
                    <label for="inputEstado">Estado/Provincia</label>
                    <select name="estado" id="inputEstado" class="form-select" disabled required>
                        <option selected value="{{codestado}}" readonly>{{nombreestado}}</option>
                    </select>
                </div>
                <div class="col-md-4 pt-2" id="divMunicipio">
                    <label for="inputMunicipio">Municipio</label>
                    <select name="municipio" id="inputMunicipio" class="form-select" disabled required>
                        <option selected value="{{codmunicipio}}" readonly>{{nombremunicipio}}</option>
                    </select>
                </div>
                <div class="col-md-6 pt-2">
                    <label for="inputCedula">Cédula</label>
                    <div class="input-group">
                        <input type="text" name="cedula" class="form-control" id="inputCedula" placeholder="Ej: X-0000000" value="{{docidentidad}}" readonly required>
                    </div>
                </div>              
                <div class="col-md-4 pt-2">
                    <label for="inputDate">Fecha de Nacimiento</label>
                    <input type="date" name="fechanac" class="form-control" id="inputDate" value="{{fechanacimiento}}" readonly required>
                </div>
                <div class="col-md-2 pt-2">
                    <label for="inputGenero">Género</label>
                    <input type="text" name="genero" class="form-control" id="inputGenero" value="{{sexo}}" readonly required>
                </div>
            {{/each}}
                <div class="col-12 py-2" id="divBtnregistrar" style="display: none;">
                    <form action="/links/registrarSoloContagio" method="POST">
                        <button type="submit" id="botonregistrar" class="btn btn-primary">
                            Registrar Contagio
                        </button>
                    </form>
                </div>
                <div class="col-md-4 pt-2" div="divVirus" style="display: none;">
                    <label for="virus">Virus</label>
                        <select name="virus" id="virus" class="form-select" disabled>
                            <option value="" selected disabled>Virus...</option>
                            {{#each Query3}}
                                <option value="{{pais_origen}}" selected disabled>{{denomoms}}</option>
                            {{/each}}
                        </select>
                </div>

                <div class="col-md-4 pt-2" id="divFechacontagio" style="display: none;">
                    <label for="fechaContagio">Fecha de Contagio</label>
                    <input type="date" name="fechaContagio" id="fechaContagio" class="form-control" readonly>
                </div>
                    
                <div class="col-md-4 pt-2" id="divReposo" style="display: none;">
                    <label for="tiempoReposo">Tiempo de Reposo</label>
                    <input type="number" min="0" class="form-control" name="tiemporeposo" id="tiempoReposo" placeholder="Tiempo de reposo en dias, Ej: 10" readonly>
                </div>

                <div class="col-md-6 pt-2" id="divTratamiento" style="display: none;">
                    <label for="tratamiento">Tratamiento</label>
                    <select name="tratamiento" id="tratamiento" class="form-select" disabled>
                        <option value="" selected disabled>Tratamiento...</option>
                        {{#each Query4}}
                        <option value="{{codtrat}}" >{{descriptratamiento}}</option>
                        {{/each}}
                    </select>
                </div>
                
                <div class="col-md-6 pt-2" id="divHospital" style="display: none;">
                    <label for="hospitalizado" >Lugar de Hospitalización</label>
                        <select name="hospitalizado" id="hospitalizado" class="form-select" disabled>
                            <option value="" selected disabled>Lugar de Hospitalización...</option>
                            <option value="0">En casa</option>
                            {{#each Query5}}
                            <option value="{{codcentro}}" >{{nombrecentro}}</option>
                            {{/each}}
                        </select>
                </div>
            </form>
            <div class="dropdown-divider"></div>
            <div class="tituloContagio" style="margin-top: -80px;">
                <div class="textoContagio" style="padding-bottom:10px;">
                    <h2>Historial de Contagios</h2>
                </div>
            </div>
            <div class="row">
                {{#each contagio}}
                <div class="col-md-3 py-3" id="divCard">
                    <div class="card" style="width: 18rem;">
                        <button style="display:none" id="botonBorrar" class="btn btn-danger"><img src="/img/borrar.png" width="20px"></button>
                        <div class="card-body">
                            <h5 class="card-title">{{tratamiento}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Variante {{denomoms}}</h6>
                            <h6>Fecha de Contagio:{{fechacontagio}}</h6>
                            <h6>Tiempo de reposo:{{tiemporeposo}} Dias</h6>
                            <h6>Lugar de Hospitalización:{{centrohospitalizado}}</h6>
                        </div>
                    </div>
                </div>
                {{/each}}
                <div class="col-12">
                    <a href="#arriba"><button type="submit" class="btn btn-primary mb-2" onclick="datosContagio();">Agregar Contagio</button></a>
                </div>
            </div>
        </div>
    </div>


    <div style="background-color: rgb(135, 194, 234);">
        <footer>
            <div id="footer" class="row-auto py-3">
                <div class="col" id="contenidoFooter">
                    <h6>© 2022 De Gouveia - Garofalo</h6>
                </div>
            </div>
        </footer>
    </div>


        <style>
    @media (max-width: 1920px) {
        #backgroundRegistro {
            max-height: 1080px;
            padding-bottom: 207px;
            padding-top: 150px;
        }
        #footer {
            margin-top: 0px;
        }
    }

    @media (max-width: 1600px){
        #backgroundRegistro{
            max-height: 650px;
            padding-bottom: 850px;
            padding-top: 110px;
        }
        #footer{
            margin-top: 0px;
        }
    }
    </style>